@{
    ViewData["Title"] = "Home Page";
    int counter = 0;
    var categories = Model as List<Category>;
}
@*<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-lg-3">
            <a style="font-size: large" asp-action="Index" asp-controller="Listings" asp-route-id="@category.Id" asp-route-type="Category">@category.Name</a>
            <br />
            @foreach (var subcategory in category.Subcategory)
            {
                <a asp-action="Index" asp-controller="Listings" asp-route-id="@subcategory.Id" asp-route-type="Subcategory">@subcategory.Name</a>
                <br />
            }
            <br />
        </div>
    };
</div>*@

@while (true)
{
    if (counter >= Model.Count)
    {
        break;
    }
    <div class="row equal-height">
        @for (int i = 0; i < 4; i++)
        {
            if (counter >= Model.Count)
            {
                break;
            }
            <div class="col-sm-3 category-list-block">
                    <a style="font-size: large" asp-action="Index" asp-controller="Listings" asp-route-id="@Model[counter].Id" asp-route-type="Category">@Model[counter].Name</a>
                    <ul>
                        @foreach (var subCat in Model[counter].Subcategory)
                        {
                            <li>
                                <a asp-action="Index" asp-controller="Listings" asp-route-id="@subCat.Id" asp-route-type="Subcategory">@subCat.Name</a>
                            </li>
                        }
                    </ul>
            </div>
            counter++;
        }
    </div>
}

