@model IEnumerable<AdvertSite.Models.UsersHasMessages>
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Gautos žinutės";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Gautos žinutės</h2>

<a asp-action="Inbox">Gautos žinutės</a>
<br />
<a asp-action="Outbox">Išsiustos žinutės</a>

<table class="table">
    <thead>
        <tr>
            <th style="width: 2%">

            </th>
            <th style="width: 15%">
                Siuntėjas
            </th>
            <th style="min-width: 20%">
                Data
            </th>
            <th style="width: 10%">
                Tema
            </th>
            <th style="width: 35%">
                Žinutė
            </th>
            <th style="width: 5%">
                Atsakyti
            </th>
            <th style="width: 5%">
                Trinti
            </th>
            <th style="width: 8%">
                Pažymėti, kaip perskaityta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.AlreadyRead == 0)
                    {
                        <p style="font-size: 20px; color: red;"><b>!</b></p>
                    }
                </td>
                <td>
                    @if (item.IsAdminMessage == 1)
                    {
                    <p>Administracija</p>
                    }
                    else {
                        @Html.DisplayFor(modelItem => item.Messages.UsersHasMessages.FirstOrDefault().Sender.UserName)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.DateSent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.Subject)

                </td>
                <td>
                    @if (@item.Messages.Text.ToString().Length > 40)
                    {
                        <p style="overflow:hidden; word-wrap: break-word;">@item.Messages.Text.ToString().Substring(0, 40)...</p>
                    }
                    else
                    {
                        <p style="overflow:hidden; word-wrap: break-word;">@Html.DisplayFor(modelItem => item.Messages.Text)</p>
                    }
                    @Html.ActionLink("Plačiau", "Details", new { id = item.MessagesId, option = "Inbox" })

                </td>
                <td>
                    @if (item.IsAdminMessage == 1)
                    {
                        <button class="btn btn-outline-success border" disabled title="Atsakyti negalima">Atsakyti</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-success border" title="Atsakyti vartotojui" onclick="location.href='@Url.Action("Create", "Messages", new { recipientID = item.SenderId, subject= item.Messages.Subject})'">Atsakyti</button>
                    }
                    @*
                        <a title="Atsakyti vartotojui" asp-area="" asp-controller="Messages" asp-action="Create" asp-route-recipientID="@item.SenderId">Atsakyti</a>
                    *@
                </td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.Messages.Id" asp-route-sender_id="@item.Messages.UsersHasMessages.FirstOrDefault().Sender.Id" asp-route-recipient_id="@UserManager.GetUserId(User)">
                        <input type="submit" value="Šalinti " class="btn btn-outline-danger" />
                    </form>
                </td>
                <td>
                    <form asp-action="MarkAsRead" asp-route-id="@item.Messages.Id" asp-route-sender_id="@item.Messages.UsersHasMessages.FirstOrDefault().Sender.Id" asp-route-recipient_id="@UserManager.GetUserId(User)">
                        <input type="submit" value="Fiksuoti" class="btn btn-outline-info" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>