@model IEnumerable<AdvertSite.Models.UsersHasMessages>

@{
    ViewData["Title"] = "Gautos žinutės";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gautos žinutės</h2>

<a asp-action="Inbox">Inbox</a>
<a asp-action="Outbox">Outbox</a>

<table class="table">
    <thead>
        <tr>
            <th style="width: 2%">

            </th>
            <th style="width: 15%">
                Siuntėjas
            </th>
            <th style="width: 20%">
                Data
            </th>
            <th style="width: 10%">
                Tema
            </th>
            <th style="width: 35%">
                Žinutė
            </th>
            <th style="width: 5%">
                Atsakyti
            </th>
            <th style="width: 5%">
                Trinti
            </th>
            <th style="width: 8%">
                Pažymėti, kaip perskaityta
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Messages.AlreadyRead == 0)
                    {
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.UsersHasMessages.FirstOrDefault().Sender.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.DateSent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.Subject)
                    
                    @Html.ActionLink("Plačiau", "Details", new { id = item.MessagesId , option = "Inbox"})
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.Text)
                </td>
                <td>
                    <a title="Atsakyti vartotojui" asp-area="" asp-controller="Messages" asp-action="Create" asp-route-recipientID="@item.SenderId">Atsakyti</a>

                </td>
                <td>
                    <form asp-action="Delete">
                        <input type="submit" value="" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form asp-action="MarkAsRead">
                        <input type="submit" value="" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>