@model AdvertSite.Models.Listings

@{
    ViewData["Title"] = "Skelbimo šąlinimas";
}

<div>
    <h4>Listings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            <p style="overflow:hidden; word-wrap: break-word;"> @Html.DisplayFor(model => model.Description)</p>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Pašalinti" class="btn btn-danger border" /> |
        <a asp-action="Index">Atgal į sąrašą</a>
    </form>
</div>
