@model AdvertSite.Models.Listings
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Listings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Display)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            <a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@Model.User.Id">@Html.DisplayFor(model => model.User.Email)</a>
        </dd>
        <dt>
            Komentaru kiekis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments.Count)
        </dd>
    </dl>
</div>
<div>
    <h4>Komentarai</h4>
    <dl class="dl-horizontal">

        @foreach (var comment in Model.Comments)
        {
            <dt>
                @comment.Userid

            </dt>
            <dd>
                @comment.Text
                @*
                    Jeigu vartotojas, kuris parase sita komentara arba administratorius
                *@
                @if (User.IsInRole("Admin") || comment.Userid.Equals(UserManager.GetUserId(User)))
                {
                   <a asp-action="Delete" asp-controller="Comment" asp-route-id="@comment.Id">Šalinti</a>
                }
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Id">Rašyti komentarą</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
