@model AdvertSite.Models.ListingAndComment
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Listings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Verified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Verified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Display)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Display)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.Subcategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Listing.Subcategory.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Listing.User)
        </dt>
        <dd>
            <a asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@Model.Listing.User.Id">@Html.DisplayFor(model => model.Listing.User.Email)</a>
        </dd>
        <dt>

        </dt>
        <dd>

            <a asp-area="" asp-controller="Messages" asp-action="Create" asp-route-recipientID=@Model.Listing.User.Id>Siųsti žinutę skelbimo autoriui</a>
        </dd>
        <dt>
            Komentarų kiekis
        </dt>
        <dd id="comment-count">
            
        </dd>
    </dl>
</div>
<div>
    <h4>Komentarai</h4>
    <dl class="dl-horizontal" id="commentList">

    </dl>
    <form onsubmit="return postComment(event)" method="post">
        
        <div class="form-group">
            <label asp-for="Comment.Text" class="control-label">Jūsų komentaras</label>
            <textarea asp-for="Comment.Text" id="Comment.Text" class="form-control"></textarea>
            <span asp-validation-for="Comment.Text" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<div>
    @*<a asp-controller="Comment" asp-action="Create" asp-route-id="@Model.Listing.Id">Rašyti komentarą</a> |*@
    <a asp-action="Edit" asp-route-id="@Model.Listing.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
